# Minería de datos 
##  Avance del Producto Integrador de Aprendizaje
### Base a trabajar: Estadísticas de suicidio de la OMS
#### URL: https://www.kaggle.com/szamil/who-suicide-statistics

#### Integrantes del Equipo 10, grupo 003: 
- Andrea Isabel Cortez Sánchez 1736472
- Sergio Oviedo Martínez 1750532
- Andrés Hernandez de Luna 1757180
- Johan Antonio Sustaita Martinez 1723476

In [3]:
#Mandamos llamar a nuestra base de datos
import pandas as pd
import numpy as np 
data1 = pd.read_csv("C:/Users/telmex/Downloads/who_suicide_statistics.csv")

#### Tipo de Datos:

- Estos datos son estadísticas de mortalidad brindada por la OMS. Al observar los datos, puede observar las tendencias a largo plazo y las diferencias entre países, así como dentro de los países en unos pocos grupos demográficos; en ambos casos, verá que estas diferencias pueden ser muy grandes.

- Columna 1 'Country': Nos muestra la país de la que se está hablando.
- Columna 2 'Year': Año del registro.
- Columna 3 'Sex': Género de las personas.
- Columna 4 'Age': Rango de edades.
- Columna 5 'Suicides_no': Número de suicidios.
- Columna 6 'Population': Total de población.

#### Justificación de los datos: 

- La potencia vista en esta base fue el poder concientizar más a la sociedad sobre este delicado tema, pero para eso debemos conocer en que rango de edades y que país es donde se tienen mas registros y así trabajar en una buena campaña para ayudar a quienes más lo necesitan. 
- Hoy en día estamos pasando por una pandemia donde muchos se están resguardando en sus casas para el propio cuidado, pero eso ha afectado un poco la estabilidad emocional de los individuos. Nos gustaría comparar esta base de datos con los nuevos datos registrados durante estos últimos 12 meses.

#### Objetivo:

- Nuestro objetivo es saber 100% la manipulación de los datos pero ir de la mano con el aprendizaje de los temas a tratar.

#### Preguntas de interés:

- ¿Cuál es el país con mayor número de casos?
- ¿Cuál es el país con menor número de casos?
- ¿Cuál es el rango de edades donde más suceden suicidios?
- ¿Existen más casos en hombres que en mujeres?
- ¿Cuál es el porcentaje de población?

## Parte de programación:

In [5]:
#En esta parte del programa postramos todos los datos que tenemos en nuestra base de datos
data1.head()

   country  year     sex          age  suicides_no  population
0  Albania  1985  female  15-24 years          NaN    277900.0
1  Albania  1985  female  25-34 years          NaN    246800.0
2  Albania  1985  female  35-54 years          NaN    267500.0
3  Albania  1985  female   5-14 years          NaN    298300.0
4  Albania  1985  female  55-74 years          NaN    138700.0

In [7]:
# Numero de filas y columnas con las que cuenta nuestra base de datos
data1.shape

(43776, 6)

In [8]:
 #Nos muestra los ultimos 10 datos de nuestra base de datos
data1.tail(10)

        country  year     sex          age  suicides_no  population
43766  Zimbabwe  1990  female  35-54 years         45.0         NaN
43767  Zimbabwe  1990  female   5-14 years          6.0         NaN
43768  Zimbabwe  1990  female  55-74 years         20.0         NaN
43769  Zimbabwe  1990  female    75+ years          3.0         NaN
43770  Zimbabwe  1990    male  15-24 years        132.0         NaN
43771  Zimbabwe  1990    male  25-34 years        150.0         NaN
43772  Zimbabwe  1990    male  35-54 years        132.0         NaN
43773  Zimbabwe  1990    male   5-14 years          6.0         NaN
43774  Zimbabwe  1990    male  55-74 years         74.0         NaN
43775  Zimbabwe  1990    male    75+ years         13.0         NaN

In [9]:
#Queremos ver los nombres de nuestras columnas
data1.columns

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population'], dtype='object')

In [16]:
#Vemos que los nombres están en inglés, por lo que los cambiamos
a= data1.rename(columns = {'country':'País','year':'Año','sex':'Género','age':'Rango_De_Edad','suicides_no':'Número_De_Suicidios','population':'Población'})

In [17]:
#Tipos de datos de nuestras columnas
a.dtypes

País                    object
Año                      int64
Género                  object
Rango_De_Edad           object
Número_De_Suicidios    float64
Población              float64
dtype: object

In [20]:
#Tipo de dato para una columna en especifico
a['Año'].dtype

dtype('int64')

In [27]:
#Para tener solo dos tipos de datos en nuestra base, hacemos un cambio de enteros a flotantes
a.Año.astype("float")

0        1985.0
1        1985.0
2        1985.0
3        1985.0
4        1985.0
          ...
43771    1990.0
43772    1990.0
43773    1990.0
43774    1990.0
43775    1990.0
Name: Año, Length: 43776, dtype: float64

In [28]:
# informacion resumida de nuestra base de datos
a.describe()

                Año  Número_De_Suicidios     Población
count  43776.000000         41520.000000  3.831600e+04
mean    1998.502467           193.315390  1.664091e+06
std       10.338711           800.589926  3.647231e+06
min     1979.000000             0.000000  2.590000e+02
25%     1990.000000             1.000000  8.511275e+04
50%     1999.000000            14.000000  3.806550e+05
75%     2007.000000            91.000000  1.305698e+06
max     2016.000000         22338.000000  4.380521e+07

In [30]:
#Aqui podemos observar el numero total de suicidios por pais
country=a["Número_De_Suicidios"].groupby(a["País"]).sum().sort_values(ascending=False)
country.head(30)

País
Russian Federation          1500992.0
United States of America    1201401.0
Japan                        937614.0
France                       395500.0
Ukraine                      365170.0
Germany                      291262.0
Republic of Korea            261730.0
Brazil                       250824.0
Poland                       172562.0
United Kingdom               166314.0
Italy                        157074.0
Hungary                      130018.0
Thailand                     129899.0
Canada                       128382.0
Kazakhstan                   123151.0
Mexico                       117479.0
Spain                        110097.0
Argentina                     93862.0
Sri Lanka                     80747.0
Australia                     80279.0
Belgium                       75948.0
Belarus                       74974.0
Romania                       72793.0
Netherlands                   60205.0
Austria                       60179.0
Colombia                      54136.0
Czech Republic                51664.0
Chile                         44126.0
Uzbekistan                    44063.0
Bulgaria                      42868.0
Name: Número_De_Suicidios, dtype: float64

In [33]:
#Vemos si existen datos nulos en nuestras columnas
# FALSE = NO ^ TRUE = SÍ
a.isnull().any()

País                   False
Año                    False
Género                 False
Rango_De_Edad          False
Número_De_Suicidios     True
Población               True
dtype: bool

In [34]:
# Como obtuvimos que si, contamos
# En nuestra base de datos el no tener un dato en numero de suicidio puede ser algo positivo y es por eso que tomamos la decisión de 
# no eliminar columnas o filas
a.isnull().sum()

País                      0
Año                       0
Género                    0
Rango_De_Edad             0
Número_De_Suicidios    2256
Población              5460
dtype: int64

In [41]:
#LLenamos nuestros espacios nulos con ceros para tener una mejor vista de nuestra base
b = a_0 = a.fillna(0)

In [42]:
#Mandamos llamar a nuestra base con los cambios realizados
b

           País   Año  Género Rango_De_Edad  Número_De_Suicidios  Población
0       Albania  1985  female   15-24 years                  0.0   277900.0
1       Albania  1985  female   25-34 years                  0.0   246800.0
2       Albania  1985  female   35-54 years                  0.0   267500.0
3       Albania  1985  female    5-14 years                  0.0   298300.0
4       Albania  1985  female   55-74 years                  0.0   138700.0
...         ...   ...     ...           ...                  ...        ...
43771  Zimbabwe  1990    male   25-34 years                150.0        0.0
43772  Zimbabwe  1990    male   35-54 years                132.0        0.0
43773  Zimbabwe  1990    male    5-14 years                  6.0        0.0
43774  Zimbabwe  1990    male   55-74 years                 74.0        0.0
43775  Zimbabwe  1990    male     75+ years                 13.0        0.0

[43776 rows x 6 columns]