## Ejercicio 1
- Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [1]:
mt=1736472
print("Andrea Cortez con matricula: ",mt)

Andrea Cortez con matricula:  1736472

## Ejercicio 2
- Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [3]:
a=int(input("Introduce un numero: "))
b=int(input("Introduce otro numero: "))

print(a,"+",b,"=",a+b)
print(a,"-",b,"=",a-b)
print(a,"*",b,"=",a*b)
print(a,"/",b,"=",a/b)
print(a,"^",b,"=",a**b)

Introduce un numero: 2
Introduce otro numero: 5
2 + 5 = 7
2 - 5 = -3
2 * 5 = 10
2 / 5 = 0.4
2 ^ 5 = 32

## Ejercicio 3
- Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [40]:
suma=0
i=48
while i<78:
    i=i+3
    suma=suma+i #Aqui estoy acumulando mis valores para despues que no se cumpla tener mi suma total
    print(i)

if suma <= 645:
    print("La suma es 645") 
else: 
    print("Suma no lograda")

51
54
57
60
63
66
69
72
75
78
La suma es 645

## Ejercicio 4
- Con una función de if else, revisar si un número es par o es impar.
- Con una función de if else, revisar si un número es primo o no.

In [43]:
a=int(input("Introduce un numero: "))

if a % 2 == 0:
    print("El numero introducido es un numero par.")
else:
    print("El numero introducido es impar.")

Introduce un numero: 45
El numero introducido es impar.

## Ejercicio 5
- Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [44]:
d

NameError: name 'd' is not defined

## Ejercicios con estructuras básicas de python.

- Tuplas

In [54]:
#1
vf = float (1.19)
print(vf, "es tipo: ",type(vf))
vint = int(5)
print(vint, "es tipo: ", type(vint))
vbol = bool (0)
print(vbol, "es tipo: ", type(vbol))

#2
t1 = (1,2,3)
print("El primer valor de la tupla es:",t1[0], "y el último es:",t1[2],"\n")

#3
a=list(t1)
a.append("andy")
a.append("rie")
a.append("mucho")
t1=tuple(a)
print(t1)

#4

1.19 es tipo:  <class 'float'>
5 es tipo:  <class 'int'>
False es tipo:  <class 'bool'>
El primer valor de la tupla es: 1 y el último es: 3

(1, 2, 3, 'andy', 'rie', 'mucho')

- Listas

In [57]:
#1
import random as r
import os
lista = []
i=0
while i < 40:
    a = r.randint (500,1000)
    lista.append(a)
    i = i+1
print("lista: ",lista)

#2

lista:  [883, 825, 534, 926, 560, 557, 790, 950, 635, 820, 871, 585, 767, 708, 806, 970, 780, 888, 922, 532, 531, 656, 778, 938, 777, 685, 811, 551, 872, 694, 707, 727, 972, 722, 716, 740, 958, 736, 578, 810]

- Diccionario

In [65]:
#1
d={'Andy':22,'Oziel':19,'Lluvia':20,'Tzintzun':22,'Stephy':21,'Salome':26}
print("Diccionario: ",d)

#2
lisd=d.values()
lisd=sorted(lisd)
print("Edades de menor a mayor: ",lisd)

#3
i=0
for i in d:
    print("\n",i)

#4 
d["Guzman"] = '23'
d["Marycarmen"] = '54'
print("\nDiccionario modificado: ",d)

Diccionario:  {'Andy': 22, 'Oziel': 19, 'Lluvia': 20, 'Tzintzun': 22, 'Stephy': 21, 'Salome': 26}
Edades de menor a mayor:  [19, 20, 21, 22, 22, 26]

 Andy

 Oziel

 Lluvia

 Tzintzun

 Stephy

 Salome

Diccionario modificado:  {'Andy': 22, 'Oziel': 19, 'Lluvia': 20, 'Tzintzun': 22, 'Stephy': 21, 'Salome': 26, 'Guzman': '23', 'Marycarmen': '54'}